## C++ snippets for Ultisnips, try to meet the Google C++ style. 
snippet main "main() (main)"
int main(int argc, char *argv[]) {
	${1:${VISUAL}}
	return ${2:0};
}$0
endsnippet

snippet ns "namespace .. (namespace)"
namespace${1/.+/ /m}${1:`!p snip.rv = snip.basename or "name"`}{
${VISUAL}$0
}${1/.+/ \/* /m}$1${1/.+/ *\/ /m}
endsnippet
