#######################################################################
#                  Fortran snippets for Ultisnippet                   #
#######################################################################

snippet c "Fortran comment" i 
!${1:Commets}$0
endsnippet


snippet omp "!$omp" b
!$omp $0
endsnippet
