#
# Author: Rongyang Sun <sun-rongyang@outlook.com>
# Date: Long long ago
# Last Modified Date: 2018-05-13 06:30
# Last Modified By: Rongyang Sun <sun-rongyang@outlook.com>
# 
# Description: Fortran snippets for Ultisnippet
#


snippet c "Fortran comment" w
!${1:Commets}$0
endsnippet


snippet omp "!$omp" b
!$omp $0
endsnippet
