## Own Markdown snippets for UltiSnips

snippet dpc "Displayed Code Block with language configuration." b
\`\`\`${1:language}
$2
\`\`\`
$0
endsnippet

snippet dpm "Displayed math expressions" b
\$\$
$1
\$\$
$0
endsnippet

snippet ilm "Inline math expressions" i 
\$$1\$$0
endsnippet
