## Python snippets for Ultisnips

snippet docs "Add a docstrings" b
"""${1:docstrings}"""$0
endsnippet

snippet cc "Comment with two sharps" b
## ${1:python comment}
$0
endsnippet

snippet c "Comment with one sharps" b 
# ${1:python comment}
$0
endsnippet

snippet lc "Online comment" i
#${1:python comment}$0
endsnippet
