snippet c "XML comment" w
<!-- ${1:comments} -->$0
endsnippet

snippet te "Empty element" w
<${1:tag} ${2:attribute}="${3:value}"$4/>$0
endsnippet

snippet ti "Inline tag" w
<${1:tag}>${2:content}</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet ta "Tag with attribute" b
<${1:tag} ${2:attribute}="${3:value}"$4>
	${5:${VISUAL:content}}
</${1/([\w:._-]+).*/$1/}>
endsnippet
